// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// chosen theme colors:
$theme-beige: #E6BA95;
$theme-yellow: #FAFDD6;
$theme-light-green: #E4E9BE;
$theme-green: #A2B38B;
