
 <div class="rating">
        <% (1..5).to_a.each do |i| %>
          <input
            type="radio"
            name="rating"
            value="<%= i %>"
            id="<%= i %>"
            <%= checked if @pokemon_review.rating && @pokemon_review.rating >= i %>
          />
          <label for="<%= i %>">☆</label>
        <% end %>
</div>
