<div class="banner shadow d-flex align-items-center justify-content-center mb-3">
  <div class="text-left text-white">
    <h1>Hire a Pokémon for your daily life</h1>
    <p></p>
    <h3 class="typed-js" data-controller="typed-js"></h3>
    <p></p>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

<div class="container mt-5">
  <h4>Popular Pokémons</h4>
  <p></p>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://images.unsplash.com/photo-1605979399824-542335ee35d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)">
      Pikachu
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://images.unsplash.com/photo-1601430854328-26d0d524344a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)">
      Snorlax
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://images.unsplash.com/photo-1637164011965-635d3e762a38?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80)">
      Charizard
    </div>
  </div>
</div>
