<div class="banner shadow d-flex align-items-center justify-content-center mb-3">
  <div class="text-left text-white">
    <h1>Hire a Pokémon for your daily life</h1>
    <p></p>
    <h3 class="typed-js" data-controller="typed-js"></h3>
    <p></p>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

<div class="container mt-5">
  <h4>Popular Pokémons</h4>
  <p></p>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://img.pokemondb.net/artwork/large/jigglypuff.jpg)">
      Jigglypuff
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://img.pokemondb.net/artwork/large/venusaur.jpg)">
      Venusaur
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://img.pokemondb.net/artwork/large/persian.jpg)">
      Persian
    </div>
  </div>
</div>
