.form-actions {
  color: white;
  width: 140px;
  border-radius: 4px;
  background: $theme-beige;
  transition: background 0.3s ease;
}

.form-actions:hover {
  background: #E4E9BE;
  color: white;
}
