.form-actions {
  color: white;
  width: 140px;
  border-radius: 4px;
  // background: $theme-beige;
  transition: background 0.3s ease;
}

.form-actions:hover {
  // background: #E4E9BE;
  color: white;
}

.card-pokemon-details .btn {
  position: absolute;
  right: 265px;
  top: -220px;
  font-size: 14px;
  background-color: $theme-yellow;
  transition: background 0.3s ease;
  border: 1px solid rgba($color: #000000, $alpha: 0.4);
  &:hover {
    background-color: $theme-beige;
  }
}

.back_button {
  text-decoration: none;
  border-radius: 8px;
  background-color: #FAFDD6;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
