.form-actions {
  color: white;
  width: 140px;
  border-radius: 4px;
  // background: $theme-beige;
  transition: background 0.3s ease;
}

.form-actions:hover {
  // background: #E4E9BE;
  color: white;
}

.card-pokemon-details .btn {
  position: absolute;
  right: 5px;
  top: -21px;
  font-size: 14px;
  font-weight: 600;
  background: linear-gradient(rgb(225, 225, 225), $theme-yellow);
  border: 1px solid rgba($color: #000000, $alpha: 0.7);
  transition: background 0.3s ease;
  &:hover {
    background: linear-gradient(rgb(225, 225, 225), $theme-beige);
  }
}
