.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 18px;
  // height: 300px;
  margin-bottom: 50px;
}

.cards-pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
  // height: 300px;
  margin-bottom: 50px;
  &.pokemons {
    grid-gap: 28px;
  }
}

.card-category{
  color: #A2B38B;
  padding-left: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
  p {
    font-size: 18px;
    font-weight: lighter;
    font-style: italic;
  }
}

.card-pokemon {
  background: $theme-light-green;
  // height: 324px;
  padding: 14px;
  border: rgba(0, 0, 0, 0.6) 1px solid;
  position: relative;
  img {
    margin: 13px 13px 0;
    height: 200px;
    width: 95%;
    object-fit: contain;
    align-content: center;
  }
  .text-end {
    position: absolute;
    margin-left: 207px;
  }
  .text-end-index {
    text-align: end;
    position: absolute;
    margin-left: 220px;
  }
}

.white {
  width: auto;
  background-color: white;
  height: 216px;
  position: relative;
  margin-bottom: 8px;
  text-align: center;
}

.white-card {
  // width: auto;
  background-color: white;
  height: auto;
  position: relative;
  margin-bottom: 8px;
  text-align: center;
}


.card-pokemon-details {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 0;

  h4 {
    font-size: 19px;
    font-weight: bold;
  }
  p {
    opacity: 0.6;
    font-size: smaller;
    margin: 0;
  }
  h5 {
    font-size: 14px;
    margin: 0;
  }
  h6 {
    margin-bottom: 5px;
    font-size: 15px;
  }
}

.show-card {
  background-color: $theme-light-green;
  padding: 32px;
  border-radius: 10px;
  animation: zoomIn;
  margin-right: 15px;

  h2 {
    font-weight: 700;
  }
  img {
    width: 100%;
    margin: auto;
    display: block;
    border: 1px solid rgba($color: #000000, $alpha: 0.7);
    margin-bottom: 20px;
  }
  .badges {
    display: flex;
    justify-content: space-around;
    p {
    background: $theme-beige;
    border-radius: 24px;
    padding: 6px 28px;
    opacity: 0.8;
    font-size: 1rem;
    box-shadow: 2px 3px rgba($color: #000000, $alpha: 0.1);
    opacity: 0.9;
    font-size: 15px;
  }
}
  p {
    font-size: 1rem;
  }
  span {
    font-size: 13px;
    font-weight: 300;
  }
}
.booking {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 56px;
  margin-left: 28px;
}
.reviews {
  margin-left: 28px;
  h4 {
    margin-bottom: 15px;
  }
  .review-details {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 28px;
    border-radius: 10px;
  }
}

.card-heading {
  opacity: 0.7;
  font-weight: bold;
}
.card-bookings {
  background: rgba(255, 255, 255, 0.785);
  width: 48%;
  padding: 20px;
  border-radius: 25px;
  margin: 5px;
  h5 {
    text-align: center;
    margin: 15px auto;
  }
}

.nav-link {
  color: $theme-green;
}

.nav-link:hover {
  color: black;
}

.card-booking {
  overflow: hidden;
  position: relative;
  height: 180px;
  background: white;
  display: flex;
  align-items: center;
  width: 99.5%;
  margin-bottom: 8px;
  border-radius: 20px;
  &.from-renter {
    border: 3px solid $theme-beige;
  }
  &.to-renter {
    border: 3px solid $theme-light-green;
  }

  .card-booking-img {
    height: 40%;
    width: 60px;
    position: absolute;
    object-fit: contain;
    margin-left: 16px;
  }

  .card-booking-info {
    padding: 10px;
    margin-left: 84px;
    margin-top: -20px;
    flex-grow: 1;
    h2 {
      font-size: 18px;
      font-weight: bold;
      margin: 0;
    }
    p {
      font-size: 14px;
      line-height: 1.4;
      opacity: 0.7;
      margin: 0;
      margin-top: 1px;
    }
  }

  .review {
    background-color: #E6BA95;
    color: black;
    text-decoration: none;
    position: absolute;
    font-size: 12px;
    border-radius: 8px;
    margin-right: 8px;
    margin-top: 120px;
    margin-left: 95px;
    padding-left: 13px;
    width: 120px;
    :hover {
      color: white;
      text-decoration: none;
    }
  }

  .booking-actions {
    background-color: $theme-light-green;
    color: black;
    text-decoration: none;
    position: absolute;
    font-size: 12px;
    border-radius: 8px;
    // margin-right: 8px;
    margin-top: 54px;
    margin-left: -200px;
    padding-left: 5px;
    padding-right: 5px;
    width: 120px;
    :hover {
      color: white;
      text-decoration: none;
    }
  }

  a:link{
    text-decoration: none!important;
    color: black;
  }

  a:visited {
    text-decoration: none;
    color: black;
  }

  .write-a-review {
    color: black;
  }

  .card-booking-status {
    margin-right: 15px;
    position: relative;
    .status {
      text-decoration: none;
      font-size: small;
      &.approve {
        color: green;
      }
      &.refuse {
        color: red;
      }
    }
  }
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .cards-pokemons {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .cards-pokemons {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .cards-pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
