.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  background-color: rgba($color: #f0f0f0, $alpha: 0.9);
  text-align: center;
  font-family: "Open Sans", sans-serif;
    padding: 200px;
    border: rgba(0, 0, 0, 0.3) 1px solid;
  border-radius: 4px;
  img {
    opacity: 0.8;
  }
  a {
    text-decoration: none;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}
