.navbar {
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.fa-solid {
  color: $theme-green;
  &:hover {
    color: #819465ef;
  }
}
.navbar-collapse {
  flex-grow: 0;
}
.nav-links {
  color: $theme-green;
  display: block;
  padding: 0.5rem 0.8rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  &:hover {
    color: #819465;
  }
}
.navbar-brand img {
  width: 40px;
}
