.navbar-lewagon {
  justify-content: space-between;
  background: #E6BA95;
}
.fa-globe {
  font-size: larger;
  color: black;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
