.navbar {
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
}
.fa-globe {
  color: $theme-green;
}
.navbar-collapse {
  flex-grow: 0;
}
.nav-link {
  color: $theme-green;
}
.navbar-brand img {
  width: 40px;
}
