<h1>See all Pokemon</h1>

<div class="container pt-3">
  <div class="row">
    <div class="col-12 col-lg-8">
      <img src="https://images.unsplash.com/photo-1613771404721-1f92d799e49f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80" alt="Pokemon" class="w-100" />
      <h1 class="my-3"><%= @pokemon.name %></h1>
      <p><%= @pokemon.description %></p>
    </div>

    <div class="col-12 col-lg-4">
      <div class="border p-4 rounded">
        <h2>Book Me</h2>

        <form action="/">

          <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <input type="text" id="message" class="form-control">
          </div>

          <div class="mb-3">
            <label for="from_date" class="form-label">From</label>
            <input type="date" id="from_date" class="form-control">
          </div>

          <div class="mb-3">
            <label for="to_date" class="form-label">to</label>
            <input type="date" id="to_date" class="form-control">
          </div>

          <%# <div class="mb-3">
            <label for="price" class="form-label">to</label>
            <input type="???" id="price" class="form-control">
          </div> %>

          <input type="submit" class="btn btn-primary w-100">

        </form>

      </div>
    </div>
  </div>
</div>
<%= link_to "Back", pokemon_booking_path %>
